<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @venue, partial: "card", as: :venue %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "venues/venue_bookmarks" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "venues/venue_specialties" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "venues/venue_fans" %>
  </div>
</div>
  <!-- Show Page Customization end -->
